NEXT_PUBLIC_SUPABASE_URL=https://yvqptrjxbptloucyuubm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl2cXB0cmp4YnB0bG91Y3l1dWJtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU3OTA1NjUsImV4cCI6MjEwMTM2NjU2NX0.voNVzzy6ZUe8vJ2mPDibYmm4SLfbvUE5g6xdt7Irb58
