NEXT_PUBLIC_SUPABASE_URL=https://pillifqqefkrudogbhya.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBpbGxpZnFxZWZrcnVkb2diaHlhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ4NzM3NDgsImV4cCI6MjEwMDQ0OTc0OH0.u22RdUuB70CRnPT1CQZX3Pid9sezgyPOeSm4hhOFYzQ
